aiocron==1.8
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.19.0
astroid==2.15.5
async-timeout==4.0.2
attrs==23.1.0
blobfile==2.0.2
certifi==2023.5.7
charset-normalizer==3.0.1
croniter==1.3.15
dacite==1.8.1
dill==0.3.6
discord.py==2.3.0
et-xmlfile==1.1.0
filelock==3.12.2
frozenlist==1.3.3
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
lxml==4.9.2
mccabe==0.7.0
multidict==6.0.4
numpy==1.24.3
openai==0.27.8
openpyxl==3.1.2
pandas==2.0.2
pandas-stubs==2.0.2.230605
platformdirs==3.5.3
pycryptodomex==3.18.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.10.31
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.5.post1
tiktoken==0.4.0
tomlkit==0.11.8
tqdm==4.65.0
types-pytz==2023.3.0.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.3
wrapt==1.15.0
yarl==1.9.2
